name: Integration continue
on: 
  push:
      branches: [develop]
  pull_request:
      branches: [develop]    
jobs:
  compilling-app:
  
    runs-on: ubuntu-latest

    steps:
    - name: Checkout du code source
      uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Compilation avec Maven
      run: mvn clean compile

      
  Tests-unitaires:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout du code source
      uses: actions/checkout@v2
      
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Exécution des tests unitaires
      run: ./mvn test
  
  test-integrations:      
    runs-on: ubuntu-latest

    steps:
    - name: Checkout du code source
      uses: actions/checkout@v2
      
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Exécution des tests d'intégration
      run: ./mvn clean verify
      
  build-artefact:
  
    runs-on: ubuntu-latest

    steps:
    - name: Checkout du code source
      uses: actions/checkout@v2
      
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Build de l'artefact Quarkus
      run: mvn clean package -Dquarkus.package.type=uber-jar

    - name: Déplace le package dans le répertoire cible
      run: mv target/quarkus-app/* target/

    - name: Affiche les fichiers générés
      run: ls target/
    
    


      
  
